<h3>Post Form</h3>
<<<<<<< HEAD

<%= form_tag posts_path do %>
  <label>Post title:</label><br>
  <%= text_field_tag :'post[title]' %>

  <label>Post description:</label><br>
  <textarea id="post_description" name="post[description]"></textarea><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Post" %>
<% end %>

<%= params.inspect %>
=======
>>>>>>> 3e0f5527dbd3ccb32b962bda45c1be0541d83f2c
